<header>
    <div class="container">
        <div class="logo_right">
            <a routerLink="/">
                <img src="assets/img/tata_realty_logo.svg" class="img-fluid" alt="">
            </a>
        </div>

        <!-- <div class="logo_main logo_home">
            <a href="javascript:;">
                <img src="./assets/img/PhoneChhodoDilJodo.svg" class="img-fluid" alt="">
            </a>
        </div> -->

        <div class="burger_icon menu_icon">
            <a href="javascript:;">
                <img src="assets/img/menu_icon.png" class="img-fluid" alt="">
            </a>
        </div>
    </div>
</header>