<div id="preloader_cov">
    <div class="inner">
        <div class="preloader_bar">
            <!-- <div class="preloader_circle"></div>
       <p>Loading</p> -->
            <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

<app-menu></app-menu>

<div class="wrapper leader_bg">
    
    <app-header [centerLogo]="false"></app-header>
    <div class="container">
        <div class="logo_main static_log text-center">
            <a routerLink="/" *ngIf="!user.uid">
                <img src="assets/img/PhoneChhodoDilJodo.svg" class="img-fluid" alt="">
            </a>
        </div>
        <div class="main row" *ngIf="user.uid">
            <app-my-score [group]="group" [user]="user" class="family_patch regi_fami_patch col-10 offset-1">
            </app-my-score>
        </div>
        <div class="main row blue_texture">
            <div class="container leader_board_cov">
                <h3 class="text-center title text-uppercase">Rules and regulations</h3>
                <div class="leader_scroll abut_txt">
                    <div class="col-10 offset-1">
                        <p>
                            We are all for excitement and enthusiasm, but rules & regulations help us stay fair to all participants. If you wish to stand eligible for the grand prize or the daily prize lists, do comply with our rules & regulations, and abide by our terms & conditions. 

                        </p>

                        <ul>
                            <li>
                                Two players minimum are required to participate in the contest 
                            </li>
                            <li>
                                The game must be played only on mobile phones
                            </li>
                            <li>
                                The players need to be residents and citizens of India
                            </li>
                            <li>The location proximity between the participants should be 100mtrs</li>
                            <li>
                                Do check the battery life of your phone in advance; make sure internet connection is at it’s best and the phone is in a good condition, to ensure that you don’t fall out of the game due to any kind of hindrance
                            </li>
                        </ul>

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>