<style>
body{
  margin-top: 150px;
	background-color: #C4CCD9;
}
.error-main{
  background-color: #fff;
  box-shadow: 0px 10px 10px -10px #5D6572;
}
.error-main h1{
  font-weight: bold;
  color: #444444;
  font-size: 100px;
  text-shadow: 2px 4px 5px #6E6E6E;
}
.error-main h6{
  color: #42494F;
}
.error-main p{
  color: #9897A0;
  font-size: 14px; 
}

.opps_page{
  color:#fff;
}

.opps_page h1{
  font-size: 30vw;
  padding-top:100px;
}
</style>
<div class="container">
  <div class="row text-center">
    <div class="col-12 opps_page">
      <h1>
        404 
      </h1>
      <h2>Opps,<br/> This page not found!</h2>
      
      <a routerLink="/">
        <button class="get_start">
          Go back home
        </button>
      </a>
      
    </div>
  </div>
</div>