<div id="preloader_cov">
    <div class="inner">
        <div class="preloader_bar">
            <!-- <div class="preloader_circle"></div>
       <p>Loading</p> -->
            <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

<app-menu></app-menu>

<div class="wrapper regi_bg">
    
    <app-header [centerLogo]="false"></app-header>
    
    <div class="container">
        <div class="logo_main text-center">
            <a routerLink="/">
              <img src="assets/img/PhoneChhodoDilJodo.svg" class="img-fluid" alt="">
            </a>
          </div>
        <div class="main row">
            <app-my-score [group]="group" [user]="user" class="family_patch regi_fami_patch col-10 offset-1"></app-my-score>
            <div class="blue_texture start_ablue col-12">
                <img src="assets/img/blue-bg.png" class="overlay" alt="">
                <div class="inner_cov">
                    <h3 class="intro_txt">Oops! <br/>
                        Sorry. Game over.<br/>
                        {{ game.endedByName }} lifted his phone. <br/> Your score. </h3>
                    <div class="timer_patch">
                        <div class="time_block">
                            <p>HR.</p>
                            <h1>
                                <span>{{score[0]}}</span>

                                <span>HRS.</span>
                            </h1>
                        </div>
                        <div class="time_block">
                            <p>MIN.</p>
                            <h1>
                                <span>{{score[1]}}</span>

                                <span>MINS.</span>
                            </h1>
                        </div>
                        <div class="time_block">
                            <p>SEC.</p>
                            <h1>
                                <span>{{score[2]}}</span>
                                
                                <span>SECS.</span>
                            </h1>
                        </div>
                        <div class="timer_txt">
                            <h3>OF TOGETHERNES</h3>
                        </div>
                    </div>
                    <div class="col-12 text-center" *ngIf="player.isAdmin">
                        <button class="get_start" (click)="goToDashboard()">
                            Start New Game &nbsp; <i class="fa fa-caret-right"></i>
                        </button>
                    </div>
                    <div class="col-12 text-center" *ngIf="!player.isAdmin">
                        <button class="get_start" (click)="goToDashboard()">
                            Go To My Dashboard &nbsp; <i class="fa fa-caret-right"></i>
                        </button>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>