<div id="preloader_cov">
  <div class="inner">
    <div class="preloader_bar">
      <!-- <div class="preloader_circle"></div>
   <p>Loading</p> -->
      <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
    </div>
  </div>
</div>

<app-menu></app-menu>

<div class="wrapper regi_bg">

  <app-header [centerLogo]="false"></app-header>

  <div class="container">
    <div class="logo_main text-center">
      <a routerLink="/">
        <img src="assets/img/PhoneChhodoDilJodo.svg" class="img-fluid" alt="">

      </a>
    </div>
    <div class="main row" *ngIf="group.key">
      <!-- <div class="family_patch regi_fami_patch col-10 offset-1">
        <div class="inner">
          <div class="img_cov" style=" background: url(./assets/img/male_profile.jpg) no-repeat 100% 100%; 
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover;">
          </div>
          <p class="name"><span>{{ group.name }}</span> <br /><span> 48:43:51</span> </p>
          <span class="numb pull-right">09<sup>th</sup></span>
        </div>
      </div> -->
      <app-my-score [group]="group" [user]="user" class="family_patch regi_fami_patch col-10 offset-1"></app-my-score>

      <div class="col-10 offset-1">
        <p class="yu_regi_txt" style="opacity: 0;height:10px;margin-bottom:0;">You registered Successfully!</p>
        <form class="row regist_form" (ngSubmit)="onSubmit()" ngNativeValidate>
          <div class="form-group col-12" *ngFor="let member of groupMembers">
            <div class="name_prefilled form-control">{{ member.name }}</div>

            <span class="remark reg_admin" *ngIf="member.isAdmin">Admin</span>

            <span class="remark rem_success" *ngIf="!member.isAdmin && member.uid">
              Verified
            </span>
            <!-- <span class="remark rem_pending join_btn_" *ngIf="!member.isAdmin && !member.uid">
              <button type="button" (click)="onRemind()" class="verify_btn">
                Remind <i class="fa fa-caret-right"></i>
              </button>
            </span> -->
            <span class="remark rem_pending" *ngIf="!member.isAdmin && !member.uid">
              Not Verified | <button type="button" (click)="onRemind(member)">Remind</button>
            </span>

          </div>

          <div class="col-6 offset-3 text-center text-danger">
            {{ errorContent }}
          </div>

          <div class="col-6 offset-3 text-center" *ngIf="canBePlayed">
            <button type="button" class="verify_btn" (click)="onPlay()">
              Play Now <i class="fa fa-caret-right"></i>
            </button>
            <p style="margin-bottom:0;">&nbsp;</p>
          </div>
          <div class="col-12 theme_blue text-center">
            <p class="invi_txt">Invite more members to join your group</p>
          </div>
          <div class="form-group col-12">
            <input type="text" class="form-control" id="name" placeholder="Enter member's name" name="name" required
              [(ngModel)]="member.name">
          </div>
          <div class="form-group col-12 mobile_num_css">
            <input type="tel" class="form-control" id="phone" placeholder="Enter member's mobile no." name="phone"
              pattern="[0-9]{10}" required [(ngModel)]="member.phone">
          </div>
          <div class="form-group col-12">
            <div class="row">
              <div class="col-6 padd_r0 text-left">
                <button type="submit" class="verify_btn">
                  Invite <i class="fa fa-caret-right"></i>
                </button>
              </div>
              <!-- <div class="col-6 text-right">
                {{ inviteUrl }}
                <a href="#" class="reset_btn pull-right">
                  Reset
                </a>
              </div> -->
              <p>&nbsp;</p>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="main row" *ngIf="!group.key">
      <div class="col-10 offset-1">
        <p class="yu_regi_txt" style="opacity: 0">You registered Successfully!</p>
        <form class="row regist_form" (ngSubmit)="onSubmitGroup()" ngNativeValidate>
          <div class="col-12 theme_blue text-center">
            <p class="invi_txt">Create your group</p>
          </div>
          <div class="form-group col-12">
            <input type="text" class="form-control" id="name" placeholder="Enter group name" name="name" required
              [(ngModel)]="group.name">
          </div>
          <div class="form-group col-12">
            <div class="row">
              <div class="col-6 padd_r0 text-left">
                <button type="submit" class="verify_btn">
                  Submit <i class="fa fa-caret-right"></i>
                </button>
              </div>
              <p>&nbsp;</p>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>