<div id="preloader_cov">
    <div class="inner">
        <div class="preloader_bar">
            <!-- <div class="preloader_circle"></div>
       <p>Loading</p> -->
            <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

<app-menu></app-menu>

<div class="wrapper leader_bg">
    <app-header [centerLogo]="false"></app-header>
    <div class="container">
        <div class="logo_main static_log text-center">
            <a routerLink="/" *ngIf="!user.uid">
                <img src="assets/img/PhoneChhodoDilJodo.svg" class="img-fluid" alt="">
            </a>
        </div>
        <div class="main row" *ngIf="user.uid">
            <app-my-score [group]="group" [user]="user" class="family_patch regi_fami_patch col-10 offset-1">
            </app-my-score>
        </div>
        <div class="main row blue_texture">
            <div class="container leader_board_cov">
                <h3 class="text-center title">Leaderboard</h3>
                <p class="text-center">Where does your group stand?</p>
                <div class="leader_scroll">
                    <div class="col-10 offset-1">
                        <div class="leader_blk color1" *ngFor="let group of groups; index as i">
                            <div class="img_cov">
                                <img src="./assets/img/{{ group.gender }}_profile.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="txt_cov">
                                <span>{{ group.name }}</span> <br />
                                <span>{{ secondsToTime(group.totalScore) }}</span>
                            </div>
                            <div class="rank">
                                <span class="pull-right">{{ (i+1) }}<sup>{{ getOrdinalSuffix((i+1)) }}</sup></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>