<div id="preloader_cov">
    <div class="inner">
        <div class="preloader_bar">
            <!-- <div class="preloader_circle"></div>
       <p>Loading</p> -->
            <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

<app-menu></app-menu>

<div class="wrapper leader_bg">
    
    <app-header [centerLogo]="false"></app-header>
    <div class="container">
        <div class="logo_main static_log text-center">
            <a routerLink="/" *ngIf="!user.uid">
                <img src="assets/img/PhoneChhodoDilJodo.svg" class="img-fluid" alt="">
            </a>
        </div>
        <div class="main row" *ngIf="user.uid">
            <app-my-score [group]="group" [user]="user" class="family_patch regi_fami_patch col-10 offset-1">
            </app-my-score>
        </div>
        <div class="main row blue_texture">
            <div class="container leader_board_cov">
                <h3 class="text-center title text-uppercase">About Campaign / Activity </h3>
                <div class="leader_scroll abut_txt">
                    <div class="col-10 offset-1">
                        <p>Screen space has creeped into our personal space. Hasn’t it? Mobile phones have single handedly managed to hamper quality of life and relationships, one click at a time. Don’t get us wrong, but you know we are right. </p>
                        <p>The constant scrolling, pings, updates and notifications have found a place on our dinner tables, in our bedrooms, and even bathrooms. So where’s the personal connection? </p>

                        <p>As a brand we advocate quality of life. To aid this, we struck upon a thought; to extend the concept of quality from homes to relationships as well. </p>

                        <p>So…get ready to get off your phone s and get closer. Even if it’s just for a while, let’s do it. </p>

                        <p>‘Phone Chodo Dil Jodo’ tis our effort at helping you steer away from your phones for a little time and explore the missing closeness with your loved ones. What’s more, also win exciting prizes in return.</p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>