<div id="preloader_cov">
    <div class="inner">
        <div class="preloader_bar">
            <!-- <div class="preloader_circle"></div>
       <p>Loading</p> -->
            <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

<app-menu></app-menu>

<div class="wrapper leader_bg">
    
    <app-header></app-header>

    <div class="family_patch regi_fami_patch leader_fam_patch col-10 offset-1">
        <div class="inner">
            <div class="img_cov" style=" background: url(./assets/img/male_profile.jpg) no-repeat 100% 100%; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;">

            </div>
            <p class="name"><span>Poipkar’s Family</span> <br /><span> 48:43:51</span> </p>
            <span class="numb pull-right">09<sup>th</sup></span>
        </div>
    </div>
    <div class="container">



        <div class="in_out_time col-10 offset-1">
            <div class="theme_blue txt">TODAYS TIME:</div>
            <div><span>&nbsp; HR. &nbsp;&nbsp;&nbsp;&nbsp; MIN. &nbsp;&nbsp;&nbsp;&nbsp; SEC.</span><br /> 02:19:45
            </div>
            <div class="theme_blue txt">TOTAL TIME:</div>
            <div><span>&nbsp; HR. &nbsp;&nbsp;&nbsp;&nbsp; MIN. &nbsp;&nbsp;&nbsp;&nbsp; SEC.</span> <br /> 29:12:33
            </div>
        </div>
        <div class="main row blue_texture">
            <div class="container leader_board_cov">
                <h3 class="text-center title text-uppercase">About Us</h3>
                <div class="leader_scroll abut_txt">
                    <div class="col-10 offset-1">
                        <p>
                            If there’s one thing that is affecting relationships everywhere, it is the mobile phone.
                        </p>

                        <p>The constant scrolling, pings, updates and notifications churner has found a place in our
                            dinner tables, bedrooms, and bathrooms. To tackle this we create a special microsite that
                            syncs the phones of all the people participating, measures their time of togetherness and
                            tests the will of their love. </p>

                        <p>The constant scrolling, pings, updates and notifications churner has found a place in our
                            dinner tables, bedrooms, and bathrooms. To tackle this we create a special microsite that
                            syncs the phones of all the people participating, measures their time of togetherness and
                            tests the will of their love.

                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>