<style>
    .not_supp_page {}

    .not_supp_page h1 {
        color: #1068b2;
        text-transform: uppercase;
        font-family: 'DINNextLTPro-Black';
        line-height: 45px;
    }

    .not_supp_page h2 {
        font-family: 'DINNextLTPro-Black';
        color: #000;
        padding-top: 20px;
        text-transform: uppercase;
    }

    .not_supp_page p {
        font-size: 17px;
        color: #000;
        font-family: 'DINNextLTPro-Light';
    }

    .not_supp_page .form-control {
        border-radius: 50px;
        color: #00a8af;
        padding: 12px 30px 8px;
        position: relative;
    }

    .not_supp_page .form-group::before {
        content: "+91";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 20px;
        line-height: 40px;
        color: #333;
        z-index: 1;
    }
</style>

<div class="container not_supp_page">

    <div class="col-12">
        <p>&nbsp;</p>
        <img src="assets/img/tata_realty_logo.svg" alt="" style="max-width:60%" class="img-fluid">

        <p>&nbsp;</p>
    </div>

    <div class="col-12">
        <img src="assets/img/PhoneChhodoDilJodo.svg" style="max-width:100px;" alt="" class="img-fluid">
    </div>
    <div class="col-12">
        <p>&nbsp;</p>
        <h1>
            this browser won’t do. <br />
            Please switch to mobile.
        </h1>
        <h2>ABOUT CAMPAIGN</h2>

        <p>
            Screen space has creeped into our personal space. Hasn’t it? Mobile phones have single handedly managed to
            hamper quality of life and relationships, one click at a time. Don’t get us wrong, but you know we are
            right. <br /><br />

            The constant scrolling, pings, updates and notifications have found a place on our dinner tables, in our
            bedrooms, and even bathrooms. So where’s the personal connection?<br /><br />

            As a brand we advocate quality of life. To aid this, we struck upon a thought; to extend the concept of
            quality from homes to relationships as well.<br /><br />

            So…get ready to get off your phone s and get closer. Even if it’s just for a while, let’s do it.

        </p>

        <h2>How to play</h2>

        <p>
            Because simplicity and convenience if our way of life, we decided to keep the mechanics
            equally simple.
        </p>

        <div class="col-8">
            <img src="assets/img/not_sup1.png" class="img-fluid" alt="">
        </div>


        <div class="col-9">
            <p>&nbsp;</p>
            <div class="row">
                <form class="row regist_form" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <div class="col-7">
                        <div class="form-group">
                            <input type="tel" name="phone" placeholder="Enter your Mobile Number*" class="form-control"
                                pattern="[0-9]{10}" required [(ngModel)]="phone">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="verify_btn">Share this game <i
                                class="fa fa-caret-right"></i></button>
                    </div>
                </form>
            </div>

        </div>

    </div>


</div>