<div id="preloader_cov">
    <div class="inner">
        <div class="preloader_bar">
            <!-- <div class="preloader_circle"></div>
            <p>Loading</p> -->
            <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

<app-menu></app-menu>

<div class="wrapper">
    
    <app-header [centerLogo]="true"></app-header>

    <div class="container">

        <ngx-slick-carousel class="main_slider row" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides">
                <img src="{{ slide.img }}" alt="" class="img-fluid">
                <div class="col-12 txt">
                    <h3>{{ slide.title }}</h3>
                    <p>{{ slide.description }}</p>
                    <button class="get_start" (click)="onGetStarted()">
                        Get Started!
                    </button>
                </div>
            </div>
        </ngx-slick-carousel>

    </div>
</div>