<div class="menu_cover">
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/about">About</a>
        </li>

        <li>
            <a routerLink="/how-to-play">How to play</a>
        </li>

        <li>
            <a routerLink="/rules">Rules and regulations</a>
        </li>

        <li>
            <a routerLink="/leaderboard">Leaderboard</a>
        </li>

        <li>
            <a routerLink="/prizes">Prizes</a>
        </li>

        <li>
            <a routerLink="/winners">Winners</a>
        </li>

        <li>
            <a routerLink="/terms">Terms and Conditions</a>
        </li>
    </ul>
    <a href="javascript:;" class="menu_copyr">
        © 2020 TATA Realty Development Company Limited, All Rights Reserved.
    </a>
</div>