<div class="menu_cover">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>

        <li>
            <a href="/how-to-play">How to play</a>
        </li>

        <li>
            <a href="/rules">Rules and regulations</a>
        </li>

        <li>
            <a href="/leaderboard">Leaderboard</a>
        </li>

        <li>
            <a href="/prizes">Prizes</a>
        </li>

        <li>
            <a href="/winners">Winners</a>
        </li>

        <li>
            <a href="/terms">Terms and Conditions</a>
        </li>
    </ul>
    <a href="javascript:;" class="menu_copyr">
        © 2020 TATA Realty Development Company Limited, All Rights Reserved.
    </a>
</div>