<div class="menu_cover">
    <ul>
        <li>
            <a href="/tata-realty">Home</a>
        </li>
        <li>
            <a href="/tata-realty/about">About</a>
        </li>

        <li>
            <a href="/tata-realty/how-to-play">How to play</a>
        </li>

        <li>
            <a href="/tata-realty/rules">Rules and regulations</a>
        </li>

        <li>
            <a href="/tata-realty/leaderboard">Leaderboard</a>
        </li>

        <li>
            <a href="/tata-realty/prizes">Prizes</a>
        </li>

        <li>
            <a href="/tata-realty/winners">Winners</a>
        </li>

        <li>
            <a href="/tata-realty/terms">Terms and Conditions</a>
        </li>
    </ul>
    <a href="javascript:;" class="close_me">
        <i class="fa fa-close"></i>
    </a>
</div>