<div id="preloader_cov">
    <div class="inner">
        <div class="preloader_bar">
            <!-- <div class="preloader_circle"></div>
       <p>Loading</p> -->
            <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

<app-menu></app-menu>

<div class="game_start_instruct">
    <div class="inner">
        <div class="instr_cover">
            <div class="col-12 txt1">
                <img src="assets/img/info-icon.png" alt="">
                Important Instruction
            </div>

            <div class="img_cov col-6 offset-3">
                <img src="assets/img/instruct_img.png" alt="" class="img-fluid">
            </div>

            <p class="txt2">Please keep mobile on a flat surface. <br />
                Any slight movement will stop your clock, and your game. </p>

            <h2>Game will start in</h2>
            <h1><countdown #cd [config]="{leftTime: 5, format: 'ss'}" (event)="handleEvent($event)"></countdown></h1>

            <!-- <a href="#" class="pause_button">
                pause
            </a> -->
        </div>
    </div>
</div>