<div id="preloader_cov">
    <div class="inner">
        <div class="preloader_bar">
            <!-- <div class="preloader_circle"></div>
       <p>Loading</p> -->
            <!-- <img src="./assets/img/animated-horse-gif-45.gif" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

<app-menu></app-menu>

<div class="wrapper regi_bg">
    
    <app-header></app-header>
    
    <div class="container">
        <div class="logo_main text-center">
            <a routerLink="/">
              <img src="assets/img/main_logo.png" class="img-fluid" alt="">
            </a>
          </div>
        <div class="main row">
            <div class="family_patch regi_fami_patch col-10 offset-1">
                <div class="inner">
                    <div class="img_cov" style=" background: url(./assets/img/male_profile.jpg) no-repeat 100% 100%; 
               -webkit-background-size: cover;
               -moz-background-size: cover;
               -o-background-size: cover;
               background-size: cover;">

                    </div>
                    <p class="name"><span>Poipkar’s Family</span> <br /><span> 48:43:51</span> </p>
                    <span class="numb pull-right">09<sup>th</sup></span>
                </div>
            </div>
            <div class="blue_texture start_ablue col-12">
                <img src="assets/img/blue-bg.png" class="overlay" alt="">
                <div class="inner_cov">
                    <h3 class="intro_txt">Your current score. </h3>
                    <div class="timer_patch">
                        <div class="time_block">
                            <countup-timer [countUpTimerConfig]="timerConfig"></countup-timer>
                        </div>
                        <div class="timer_txt">
                            <h3>OF TOGETHERNES</h3>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>

